
.title {
   font-size: 4rem;
   font-weight: 400;
   margin-bottom: .5rem;
}

.subtitle {
	color: "#212121";
	font-size: 2rem;
	font-family: "Anonymous Pro", monospace;
   margin-bottom: 3.5rem;
}

.iframe {
   border-radius: .3rem;
   overflow: hidden;
}
