.circleShape {
   width: 6rem;
   height: 6rem;
   margin: auto;
   text-align: center;
   color: #fff;
   line-height: 6rem;
   font-size: 1.7rem;
   border-radius: 50%;
}

.title {
   text-transform: capitalize;
   /* font-weight: bold; */
   font-size: 2rem;
}
.desc {
   font-size: 1.1rem;
}

.m-box {
   margin: 1.2rem;
   /* float: left; */
   flex: 1 0 25%;
}
