.BioTitle {
   font-size: 3.2rem;
   font-family: 'Anonymous Pro', monospace;
   font-weight: 700;
   color: #212121;
   margin-bottom: 3rem;
   letter-spacing: .2rem;
}

.BioSubTitle {
   font-size: 1.2rem;
   line-height: 2.5rem;
   text-align: justify;
}
